body{
	font-family: Arial, Helvetica, Verdana;
	font-size: 0.8em;
	background-color: #FFF;
}

header{
	margin: 0 5em;
	
}

header h3, header h5{
	padding: 0px;
	margin: 0px;
}

div#info-encabezado{
	width: 40%;
	text-align: center;
	display: inline-block;	
}

div#img-unsa-logo{
	width: 55%;
	height: 70px;
	text-align: left;
	display: inline-block;
}

div#img-unsa-logo img{
	height: 100%;
}

div#footer{
    position: fixed;
    left: 0px;
    bottom: -80px;
    right: 0px;
    height: 100px;
}
@page {
    margin: 70px 50px 130px 50px; 
}
table { 
  border-collapse: collapse;
  width: 100%;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #FFF; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}