/* recursos de nuestra tipografía */
@font-face {
  font-family: "Chalet";
  src: url("../fonts/Chalet.eot");
  src: url("../fonts/Chalet.eot?#iefix") format(
  "embedded-opentype"),
      url("../fonts/Chalet.woff") format("woff"),
      url("../fonts/Chalet.ttf") format("truetype"),
      url("../fonts/Chalet.svg#Chalet") format("svg");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: "Pecita";
  src: url("../fonts/Pecita.eot");
  src: url("../fonts/Pecita.eot?#iefix") format(
  "embedded-opentype"),
      url("../fonts/Pecita.woff") format("woff"),
      url("../fonts/Pecita.ttf") format("truetype"),
      url("../fonts/Pecita.svg#Pecita") format("svg");
  font-weight: normal;
  font-style: normal;
}

body,html{
  background-color: #EEEDEB;
  overflow-x: hidden;
  height: 100%;
}
div#info_maquinas{
  border-width: .1em;
  border-style: solid;
  border-color: #FFF;
  border-radius: .3em;
  padding: 2em;
}
div.image{
  text-align: center;
}
.formulario input[type="text"], .formulario input[type="password"], .formulario input[type="email"], .formulario select{
  opacity: .6;
  background-color: #FFF;
  color: #000;
  font-size: 1.21em;
}
div#contenido{
  margin: 0px auto;
  padding: 2em;
}
div#contenedor_menu{
  position: fixed;
}
div#menu_usuario{
  background-color: #333333;
  color: #FFF;
  font-size: 1.5em;
  padding-top: 3em;
  text-align: left;
  height: 100vh;
}
div#menu_usuario ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
div#menu_usuario li{
  width: 100%;
}
div#menu_usuario ul a{
  border-bottom-color: #FFF;
  border-bottom-width: .06em;
  border-bottom-style: dotted;
  display: block;
  text-decoration: none;
  -ms-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
div#menu_usuario ul a:hover{
  background-color: #AEA79F;
  color: #DD4814;
  padding-left: 2em;
}
div#footer{
  font-size: .7em;
  margin-top: 7em;
}
div#footer p{
  padding: .4em;
  text-align: justify;
}
form h3{
  padding: 0px 0px .5em 0px;
}
footer{
  background-color: #333;
  color: #FFF;
  padding: .5em;
  text-align: center;
}
h4{
  font-size: 1.4em;
}
div#contenedor_calendario{
  text-align: center;
}
div#menu_collapse:hover {
  background-color: #fff;
}
div#menu_collapse:hover h4 a:hover {
  text-decoration: none;
}
div.meses{
  display: inline-block;
  margin: 1em;
}
div.navbar-fixed-top{
  font-weight: bold;
  font-family: "Chalet", Helvetica, Verdana;
}
div.tablas-propias {
  overflow: auto;
  height: 300px;
  text-align: center;
}
div.tabla-scroll{
  overflow: auto;
  height: 400px;
}
div.tablas-propias a:hover {
  cursor: pointer;
  color: #3498db;
  text-decoration: none;
}
div#almuerzos h4{
  display: inline-block;
  margin: .5em;
}
div#botones-agregar-comidas, div#paginador-semanas{
  text-align: center;
}
fieldset {
  border-width: 0.1em;
  border-style: solid;
  border-color: #3498db;
  border-radius: 0.5em;
  padding: 0.5em;
}
h4#mensaje_exito{
  text-align: left;
}
.mijumbotron label {
  background-color: #fff;
  border-radius: 0.5em;
  padding: 0.3em;
  font-weight: bold;
  font-size: 1.3em;
}
span#total_tickets{
  background-color: #FFF;
  padding: .1em .4em;
  font-size: 1.4em;
}
table.calendario {
  margin: auto;
  border-collapse: collapse;
}
.botones a {
  background-color: #aaa;
  padding: 2em;
  margin: 1em;
}
.info{
  text-align: justify;
}
.sidebar-nav {
  padding: 10px auto;
}
.calendario {
  font-family: Arial;
  font-size: 1.4em;
}
.calendario .dias td {
  width: 10%;
  height: 100%;
  padding: 4px;
  border: 1px solid #999;
  vertical-align: top;
  background-color: #def;
}
.calendario .dias td:hover{
  background-color: #fff;
  cursor: pointer;
}
.calendario .highlight {
  font-weight: bold;
  color: #00f;
}
.calendario .dias td:nth-child(6) {
  background-color: #ffb9c4;
}
.calendario .dias td:nth-child(7) {
  background-color: #ffb9c4;
}
.etiqueta-titulo{
  background-color: #fff;
  border-radius: .3em;
  color: #DD4814;
  padding: .3em;
}
.a-noactivo{
  color: #FFF;
  padding-left: 1em;
}
.a-activo{
  background-color: #AEA79F;
  padding-left: 2em;
  color: #DD4814;
}
.info-maquinas{
  background-color: #FFF;
  border-radius: .5em;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .7em;
  height: 80px;
  margin: .3em;
  text-align: center;
}
.info-maquinas.verde{
  background-color: #2C8D3A;
}
.info-maquinas.amarillo{
  background-color: #E7A413;
}
.info-maquinas.rojo{
  background-color: #BC271C;
}
.img-torta{
  display: none;
}

.mimodal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .mimodal {
    display: block;
}

/* Large desktop */
@media (min-width: 1200px) {

}
/* Portrait tablet to landscape and desktop */
@media (min-width: 980px) and (max-width: 1199px) {

}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  div#contenedor_menu{
    position: static;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  div#contenedor_menu{
    position: static;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  div#contenedor_menu{
    position: static;
  }
}
